<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>慕课书评网</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet"
          href="/assets/vant/index.css"/>

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="/assets/vue/vue.global.js"></script>
    <script src="/assets/vant/vant.min.js"></script>
    <script src="/assets/axios/axios.js"></script>
</head>
<body>
<div id="app">
    <van-nav-bar right-text="会员登录" @click-right="directLogin">
        <template #left>
            <a href="/" style="padding-top: 10px">
                <img src="/images/logo2.png" style="width: 80px">
            </a>
        </template>
    </van-nav-bar>
    <h3 style="padding-left:32px">会员注册</h3>
    <!-- 注册表单 -->
    <van-form ref="registerForm">
        <!--用户名-->
        <van-cell-group inset>
            <van-field
                    v-model="username"
                    name="用户名"
                    label="用户名"
                    autocomplete="off"
                    placeholder="请输入用户名"
                    :rules="[{ required: true, message: '请填写用户名' }]"
            />
        </van-cell-group>
        <!--密码-->
        <van-cell-group inset>
            <van-field
                    v-model="password"
                    type="password"
                    name="密码"
                    label="密码"
                    placeholder="请输入密码"
                    :rules="[{ required: true, message: '请填写密码' }]"
            />
        </van-cell-group>
        <!--昵称-->
        <van-cell-group inset>
            <van-field
                    v-model="nickname"
                    name="nickname"
                    label="昵称"
                    autocomplete="off"
                    placeholder="请输入昵称"
                    :rules="[{ required: true, message: '请填写昵称' }]"
            />
        </van-cell-group>
        <!--验证码-->
        <van-cell-group inset>
            <van-row>
                <van-col span="16">
                    <van-field
                            v-model="verifyCode"
                            name="verifyCode"
                            label="验证码"
                            placeholder="请输入验证码"
                            autocomplete="off"
                            :rules="[{ required: true, message: '请填写验证码' }]"
                    />
                </van-col>
                <van-col span="8">
                    <img id="imgVerifyCode" src="javascript:void(0)"
                         style="width: 100%;height:44px;cursor: pointer" @click="reloadVerifyCode">
                </van-col>
            </van-row>
        </van-cell-group>
        <div style="margin: 16px;">
            <van-button round block type="primary" @click="onSubmit('registerForm')">
                注册会员
            </van-button>
        </div>
    </van-form>
</div>
<script>

    const Main = {
        data() {
            return {
                username: "", //用户名
                password: "", //密码
                nickname:"", //昵称
                verifyCode: "" //验证码
            }
        }
        , methods: {
            //注册表单提交方法
            onSubmit: function (formName) {

            }
            , directLogin: function () { //跳转到登录页方法
                window.location.href = "/login.html";
            }
            , reloadVerifyCode: function () { //刷新验证码方案
                document.getElementById("imgVerifyCode").src = "/verify_code?ts=" + new Date().getTime();
            }
        }
    };
    const app = Vue.createApp(Main);
    app.use(vant);
    app.use(vant.Lazyload);
    app.mount("#app");
</script>
</body>
</html>